<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.miniProject.mapper.ProductMapper">
	<!-- 상품업로드 -->
	<insert id="addCheckedProduct" parameterType="HashMap">
	INSERT INTO product (
		MEMBERNUM
		, PRODCNAME
		, PRODPRICE
		, DEIOPTION
		, DELIPRICE
		, PKFOPRICE
		, PRODUSALE
		, OPTIONTIT
		, OPTIONDET
		, PRPHOTO01
		, PRPHOTO02
		, PRPHOTO03
		, PRPHOTO04
		, PRPHOTO05
		, PRPHOTO06
		, PRPHOTO07
		, PRPHOTO08
		, PRPHOTO09
		, PRPHOTO10
		, PRODETAIL
		, PRREGDATE
		, UPDATDATE
	) VALUES (
			#{MEMBERNUM}
			, #{PRODCNAME}
			, #{PRODPRICE}
			, #{DEIOPTION}
			, #{DELIPRICE}
			, #{PKFOPRICE}
			, #{PRODUSALE}
			, #{PRPHOTO01}
			, #{PRPHOTO02}
			, #{PRPHOTO03}
			, #{PRPHOTO04}
			, #{PRPHOTO05}
			, #{PRPHOTO06}
			, #{PRPHOTO07}
			, #{PRPHOTO08}
			, #{PRPHOTO09}
			, #{PRPHOTO10}
			, #{PRODETAIL}
			, NOW()
		)
	</insert>
	
	<insert id="addOption" parameterType="HashMap">
	INSERT INTO product_option (
		PRODUCNUM
		, OPTIONAME
		, OPTIVALUE
		, OPTIPRICE
		, OPREGDATE
	) VALUES (
		 #{PRODUCNUM}
		 , #{OPTIONAME}
		 , #{OPTIVALUE}
		 , #{OPTIPRICE}
		 , #{OPREGDATE}
	)
	</insert>
	
	<select id="getRecentProductNumber" parameterType="Map">
	
	</select>
	
	<!-- 상품목록 조회 -->
	<select id="getProductList" resultType="Map">
		SELECT 
			PRODUCNUM
			, PRODCNAME
			, PRODPRICE
			, PRREGDATE
		FROM product
		WHERE MEMBERNUM = #{memberNum}
		ORDER BY PRREGDATE DESC
	</select>
	
	<!-- 상품목록 총갯수 조회 -->
	<select id="getTotalCount" resultType="int">
		SELECT
			COUNT(*)
		FROM
			product
		WHERE MEMBERNUM = #{memberNum}
			<choose>
				<when test="null != searchType and 'mgtUsrIdn' == searchType and null != searchWord">
					AND LOWER(MGTUSRIDN) LIKE LOWER(CONCAT('%', #{searchWord }, '%'))
				</when>
				<when test="null != searchType and 'mgtUsrNam' == searchType and null != searchWord">
					AND LOWER(MGTUSRNAM) LIKE LOWER(CONCAT('%', #{searchWord }, '%'))
				</when>
			</choose>
	</select>
	
	<delete id="deleteProduct" parameterType="Map">
		DELETE
			FROM product
     	WHERE MEMBERNUM = #{memberNum}
     		AND PRODUCNUM in
     		<foreach collection="pNum" item="item" index="index" open="(" separator="," close=")">
			   	#{item }
			</foreach>
   			
	</delete>
	
	
	
</mapper>