<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.miniProject.mapper.UserMapper">
	<!-- 회원가입 -->
	<insert id="userSave" parameterType="HashMap">
		INSERT INTO MEMBER (
        	MEMUSERID
        	, MPASSWORD
        	, MEMBERMAIL
        	, MEMBERAGE
        	, MEMBERSEX
        	, MEREGDATE
        	, MEREGUSER
        	, MEUPTDATE
        	, MEUPTUSER
        ) VALUES (
        	#{userId}
        	, #{userPw}
        	, #{userEmail}
        	, #{age}
        	, #{gender}
        	, NOW()
        	, #{userId}
        	, NOW()
        	, #{userId}
       	)
	</insert>
	
	<!-- 가입회원확인 -->
	<select id="getUserAccount" parameterType="String" resultType="com.miniProject.common.user.CustomUserDetails">
		SELECT MEMUSERID AS username
            , MEMBERNUM as userNum
            , MPASSWORD AS password
            , MEMBERMAIL AS email
            , MEMBERAGE AS age
            , MEMBERSEX AS sex
		FROM MEMBER
		WHERE MEMUSERID = #{username} AND AVAILABLE = 'Y'
	</select>
	
	<select id="getUserInfo" resultType="com.miniProject.model.SessionVO">
	
		SELECT MEMUSERID AS id
            , MEMBERNUM as memberNum
            , MEMBERMAIL AS email
            , MEMBERAGE AS age
            , MEMBERSEX AS sex
		FROM MEMBER
		WHERE MEMUSERID = #{username} AND AVAILABLE = 'Y'
	</select>
	
</mapper>